@model IEnumerable<Task>

@{
    ViewBag.Title = "title";
}

<h2>title</h2>
<form>
    User: <input type="text" name="User"/>
    Task Description: <input type="text" name="TaskDescription"/>
    Complete: <input type="checkbox" name="IsComplete"/>
    <input type="submit" name="Post" value="Add Task"/>
</form>