@model IEnumerable<Task>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    @foreach (var t in Model)
    {
        <span><h3>@t.User</h3><br/>Task Description: @t.TaskDescription<br/>Complete: @t.IsComplete</span>
    }
    <br/>@Html.ActionLink("Add Task", "Create")
</ul>
